@import url('https://fonts.googleapis.com/css?family=Lato|Varela+Round&subset=latin-ext');
// Body
$body-bg: #f8fafc;

// Typography
$font-family-headers: 'Varela Round', sans-serif;
$font-family-text: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$p-blue: #3c94f8;
$p-yellow: #3c94f8;
$p-red: #3c94f8;

$light-green: #99d25c;
$dark-green: #138f34;
$purple: #311B92;
//$purple: #6427af;
