.form-control {

  margin-bottom: 1em;
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px 16px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 16px;
    outline: none;
  }
  textarea {
    height: 10em;
  }
}