body {
  font-family: $font-family-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  color: $purple;
}
